*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-username{
    display: none;
}
.char-container{
    display: block;
    height: 100vh;
    width: 100%;
}

.chatroom-header{
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
}

.messages{
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.message{
    background-color: gray;
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
}
.sent{
    align-self: flex-end;
    background-color: aqua !important;
}